@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .custom-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  body{
    background-color: rgb(201, 201, 201);
  }